<?xml version="1.0" encoding="utf-8"?>
<config>
  <dlconfig>
    <dl>xml</dl>
    <dl-packages>
      <data namespace="DL" class="DalObject">DalObject</data>
      <xml namespace="DL" class="DLXML">DLXML</xml>
      <oracle namespace="DL_O" class="DLDbOracle">DLOracle</oracle>
    </dl-packages>
  </dlconfig>
  <ids-entities>
    <User>3</User>
    <Line>6</Line>
  </ids-entities>
</config>